aiofiles==0.6.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
future==0.18.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.2
jsonschema==3.2.0
Logbook==1.5.3
matrix-nio==0.18.3
multidict==5.1.0
pycryptodome==3.10.1
pyrsistent==0.17.3
python-socks==1.2.4
six==1.16.0
typing-extensions==3.10.0.0
unpaddedbase64==2.1.0
virtualenv==20.4.7
yarl==1.6.3
